<body class="mat-app-background">
  <div>
    <h1>
      <a href="/"><mat-icon style="padding: 40px 0px 20px 50px; font-size:50px;" color="accent">arrow_back_ios</mat-icon></a>
    </h1>
  </div>
  <div class="center-text">
    <h1 class="mat-display-2">Login</h1>
  </div>
  <div class="center-text">
    <mat-form-field class="field-width" appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input type="text" [(ngModel)]="user" matInput [formControl]="username" placeholder="user123" required>
      <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="center-text">
    <mat-form-field class="field-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input type="password" [(ngModel)]="pass" matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
      <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="center-text" style="padding-top:10px;">
    <button (click)="loginUser()" mat-raised-button color="accent">Login</button>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="center-text" style="padding-top:40px;">
    <h3>Don't have an account? Signup Below!</h3>
    <button mat-raised-button color="accent" routerLink="/signup">Signup</button>
  </div>
</body>
