<body class="mat-app-background">
  <p>
    <mat-toolbar color="primary">
      <img src="../assets/logo.png" routerLink="/" height="50px" width="50px" style="padding-right: 20px;"/>
      <span routerLink="/">Lit Stay-cations</span>
      <span class="spacer"></span>
      <div style="padding-right: 15px;">
        <button mat-raised-button color="accent" routerLink="/login">
          Login
        </button>
        <div class="space"></div>
        <button mat-raised-button color="accent" routerLink="/signup">
          Signup
        </button>
      </div>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
</body>
