<body class="mat-app-background">
  <div style="padding: 50px 10px 0px">
    <h1 class="mat-display-2" style="text-align:center">Stays Available</h1>
  </div>
  <div class="mat-app-background">
    <div style="padding-left: 20px;">
      <mat-form-field class="field-width" appearance="fill">
        <mat-label>Search...</mat-label>
        <input matInput type="search">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngFor="let listing of listings" style="padding: 10px 20px">
      <mat-card style="padding: 25px" class="example-ripple-container mat-elevation-z4"
      matRipple routerLink="">
        <mat-card-title>{{ listing["listing_title"] }}</mat-card-title>
        <mat-card-subtitle>{{ listing["description"] }}</mat-card-subtitle>
        <mat-card-content>{{ listing["street"] }}</mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</body>
